<h4>
  {{customer.email}}
</h4>
<div *ngFor="let reservationEl of customer.reserve;" class="list-group-item clearfix">
    <div >
      <p class="group inner list-group-item-text">{{reservationEl.datum | date}}</p>
      <p class="group inner list-group-item-text"> {{reservationEl.startTime | date:'shortTime'}} - {{reservationEl.endTime | date:'shortTime'}}</p>
      <p class="group inner list-group-item-text">{{reservationEl.sport}}</p>
    </div>
</div>
<button #btn class="pull-right btn btn-primary">Factureer</button>

