  <div class="row-fluid">
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading">Maandag</div>
        <div class="panel-body">Panel Content</div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row-fluid">
        <div class="col-md-2"><div class="panel panel-default">
          <div class="panel-heading">Dinsdag</div>
          <div class="panel-body">Panel Content</div>
        </div></div>

        <div class="col-md-2"><div class="panel panel-default">
          <div class="panel-heading">Woensdag</div>
          <div class="panel-body">Panel Content</div>
        </div></div>

        <div class="col-md-2"><div class="panel panel-default">
          <div class="panel-heading">Donderdag</div>
          <div class="panel-body">Panel Content</div>
        </div></div>

        <div class="col-md-2"><div class="panel panel-default">
          <div class="panel-heading">Vrijdag</div>
          <div class="panel-body">Panel Content</div>
        </div></div>

        <div class="col-md-2"><div class="panel panel-default">
          <div class="panel-heading">Zaterdag</div>
          <div class="panel-body">Panel Content</div>
        </div></div>

        <div class="col-md-2"><div class="panel panel-default">
          <div class="panel-heading">Zondag</div>
          <div class="panel-body">Panel Content</div>
        </div></div>
      </div>
    </div>
  </div>
