<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div
          id="booking-data"
          ngModelGroup="bookingData"
          #bookingData="ngModelGroup">
          <div class="form-group">
            <label for="Datum">Datum</label>
            <input
              type="date"
              id="Datum"
              class="form-control"
              [(ngModel)]="datum"
              name="Datum"
              required>
          </div>
          <div class="form-group">
            <label for="StartTime">start tijd</label>
            <br>
            <select name="StartTime" [(ngModel)]="selectedStartTime" id="StartTime">
              <option *ngFor="let time of dropDownTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="EndTime">Eind tijd</label>
            <br>
            <select name="EndTime" [(ngModel)]="selectedEndTime" id="EndTime">
              <option *ngFor="let time of dropDownEndTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="Context">Context</label>
            <input
              type="text"
              id="Context"
              class="form-control"
              ngModel
              name="Context"
              required>
          </div>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Reserveer</button>
        <button
          class="btn btn-warning"
          (click)="onCancel()"
        >Anuleer</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Reservering details</h3>
      <P>Datum: {{ booking.Datum}}</P>
      <p>Start tijd: {{booking.StartTime}}</p>
      <p>Eind tijd: {{booking.EndTime}}</p>
    </div>
  </div>
</div>
