<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="closingForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!closingForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="options">Option</label>
              <select type="text"
                      id="options"
                      formControlName="options"
                      class="form-control"
                      [(ngModel)]="selectedOption"
                      (ngModelChange)="changeSelectedTypeOption($event)">
                <option *ngFor="let type of options" [ngValue]="type">{{type.toString()}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="startTime">Starttijd</label>
            <input type="text"
                   id="startTime"
                   formControlName="startTime"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Eindtijd</label>
            <input type="text" id="description" formControlName="description" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">ImageURL</label>
            <input type="text" id="imagePath" formControlName="imagePath" class="form-control" #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">

          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" formArrayName="creators">
          <label>Creators</label>
          <!-- Oorspronkelijk: <div class="row" *ngFor="let ingredientCtrl of recipeForm.get('ingredients').controls; let i = index" [formGroupName]="i" -->
          <div class="row" *ngFor="let platformCtrl of gameForm['controls'].creators['controls']; let i = index" [formGroupName]="i"
               style="margin-top: 10px;">
            <!-- De volgende regel voeg je ook toe -->
            <!--<pre *ngIf="platformCtrl">{{ platformCtrl.value | json }}</pre>-->
            <div class="col-xs-8">
              <input type="text" class="form-control" formControlName="name" placeholder="Creator name">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteCreator(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="onAddCreator()">Add Creator</button>
            </div>
          </div>
          <br/>
          <br/>
        </div>
      </div>
    </form>
  </div>
</div>
