<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #g="ngForm">
      <div
        id="staff-data"
        ngModelGroup="staffData"
        #staffData="ngModelGroup">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="firstName">First name</label>
            <input
              type="text"
              id="firstName"
              formControlName="firstname"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="lastName">Last name</label>
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input
              type="number"
              id="phoneNumber"
              formControlName="phoneNumber"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="job">Job</label>
            <select
              id="job"
              class="form-control"
              name="job">
              <option value="Horeka">Horeka</option>
              <option value="Onderhoud">Onderhoud</option>
              <option value="Poetser">Poetser</option>
            </select>
          </div>
        </div>
      </div>
      <hr>
      <h3>Beschikbaarheid:</h3>
      <div class="row-fluid"
      id="mondayAvailabilty">
        <div class="col-xs-2">
          <div class="form-group">
            <h4>Maandag:</h4>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label for="StartTime">Begin tijd</label>
            <select name="StartTime" [(ngModel)]="selectedStartTime" id="StartTime">
              <option *ngFor="let time of dropDownTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <label for="EndTime">Eind tijd</label>
            <select name="EndTime" [(ngModel)]="selectedEndTime" id="EndTime">
              <option *ngFor="let time of dropDownEndTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row-fluid"
      id="tuesdayAvailabilty">
        <div class="col-xs-2">
          <div class="form-group">
            <h4>Dinsdag:</h4>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label for="StartTime">Begin tijd</label>
            <select name="StartTime" [(ngModel)]="selectedStartTime" id="StartTime">
              <option *ngFor="let time of dropDownTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <label for="EndTime">Eind tijd</label>
            <select name="EndTime" [(ngModel)]="selectedEndTime" id="EndTime">
              <option *ngFor="let time of dropDownEndTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row-fluid"
      id="wednesdayAvailabilty">
        <div class="col-xs-2">
          <div class="form-group">
            <h4>Woensdag:</h4>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label for="StartTime">Begin tijd</label>
            <select name="StartTime" [(ngModel)]="selectedStartTime" id="StartTime">
              <option *ngFor="let time of dropDownTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <label for="EndTime">Eind tijd</label>
            <select name="EndTime" [(ngModel)]="selectedEndTime" id="EndTime">
              <option *ngFor="let time of dropDownEndTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row-fluid"
      id="thursdayAvailabilty">
        <div class="col-xs-2">
          <div class="form-group">
            <h4>Donderdag:</h4>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label for="StartTime">Begin tijd</label>
            <select name="StartTime" [(ngModel)]="selectedStartTime" id="StartTime">
              <option *ngFor="let time of dropDownTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <label for="EndTime">Eind tijd</label>
            <select name="EndTime" [(ngModel)]="selectedEndTime" id="EndTime">
              <option *ngFor="let time of dropDownEndTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-xs-2">
          <div class="form-group">
            <h4>Vrijdag:</h4>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label for="StartTime">Begin tijd</label>
            <select name="StartTime" [(ngModel)]="selectedStartTime" id="StartTime">
              <option *ngFor="let time of dropDownTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <label for="EndTime">Eind tijd</label>
            <select name="EndTime" [(ngModel)]="selectedEndTime" id="EndTime">
              <option *ngFor="let time of dropDownEndTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-xs-2">
          <div class="form-group">
            <h4>Zaterdag:</h4>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label for="StartTime">Begin tijd</label>
            <select name="StartTime" [(ngModel)]="selectedStartTime" id="StartTime">
              <option *ngFor="let time of dropDownTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <label for="EndTime">Eind tijd</label>
            <select name="EndTime" [(ngModel)]="selectedEndTime" id="EndTime">
              <option *ngFor="let time of dropDownEndTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="col-xs-2">
          <div class="form-group">
            <h4>Zondag:</h4>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label for="StartTime">Begin tijd</label>
            <select name="StartTime" [(ngModel)]="selectedStartTime" id="StartTime">
              <option *ngFor="let time of dropDownTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <div class="form-group">
            <label for="EndTime">Eind tijd</label>
            <select name="EndTime" [(ngModel)]="selectedEndTime" id="EndTime">
              <option *ngFor="let time of dropDownEndTimes"
                      [value]="time">
                {{time}}:00
              </option>
            </select>
          </div>
        </div>
      </div>
      <hr>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Bevestig</button>
        <button
          class="btn btn-danger"
          (click)="onCancel()"
        >Annuleer</button>
      <hr>
      </div>
    </form>
  </div>
</div>
