<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div
          id="booking-data"
          ngModelGroup="bookingData"
          #bookingData="ngModelGroup">
          <div class="form-group">
            <label for="Datum">Datum</label>
            <input
              type="date"
              id="Datum"
              class="form-control"
              ngModel
              name="Datum"
              required>
          </div>
          <div class="form-group">
            <label for="StartTime">start tijd</label>
            <input
              type="time"
              id="StartTime"
              class="form-control"
              ngModel
              name="StartTime"
              required>
          </div>
          <div class="form-group">
            <label for="EndTime">Tijdsduur</label>
            <input
              type="number"
              id="EndTime"
              class="form-control"
              ngModel
              name="EndTime"
              required>
          </div>
          <div class="form-group">
            <label for="FirstName">Voornaam</label>
            <input
              type="text"
              id="FirstName"
              class="form-control"
              ngModel
              name="FirstName"
              required>
          </div>
          <div class="form-group">
            <label for="LastName">Achternaam</label>
            <input
              type="text"
              id="LastName"
              class="form-control"
              ngModel
              name="LastName"
              required>
          </div>
          <div class="form-group">
            <label for="Email">Email</label>
            <input
              type="email"
              id="Email"
              class="form-control"
              ngModel
              name="Email"
              required
              email
              #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Vul een geldig email adres in!</span>
          </div>
          <div class="form-group">
            <label for="PhoneNumber">Telefoon nummer</label>
            <input
              type="number"
              id="PhoneNumber"
              class="form-control"
              ngModel
              name="PhoneNumber"
              required>
          </div>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Reserveer</button>
        <button
          class="btn btn-warning"
          (click)="onCancel()"
        >Anuleer</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Reservering details</h3>
      <P>Datum: {{ booking.Datum}}</P>
      <p>Start tijd: {{booking.StartTime}}</p>
      <p>Eind tijd: {{booking.EndTime}}</p>
      <p>Voornaam: {{booking.FirstName}}</p>
      <p>Achternaam: {{booking.LastName}}</p>
      <p>Email: {{booking.Email}}</p>
      <p>Telefoon nummer: {{booking.PhoneNumber}}</p>
    </div>
  </div>
</div>
